*{
    font-size: 1.05rem;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
  }
  :root{
    --color: linear-gradient(90deg, rgba(12,79,156,0.8743872549019608) 30%, rgba(237,13,13,0.7287289915966386) 70%);
  }
  
  .side_bar {
    display: flex;
    flex-direction: column;
    width: fit-content;
    width: 300px;
    height: 100%;
    padding-top: 30px;
    background-color: #817b7b;
  }
  .side_bar > button{
    height: 40px;
  }

  body{
    display: flex;
    flex-direction: column;
    height: 100vh; 
  }
  .page{
    height: 100%;
  }
  nav{
    height: 90px;
    width: 100%;
    background-color:lightskyblue;
    display: flex;
    align-items: center;
  }
  h2{
    font-size: 2.3rem;
    font-weight: 6px;
    color: transparent;
    background: var(--color);
    -webkit-background-clip: text;
  }
  .container{
    width: 100%;
    height:100%;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .form{
    top: 50%;
    left: 55%;
    position: fixed;
    transform: translate(-50%,-50%);
    border: 1px solid black;
    background-color: white;
    width: 500px;
    /* height: 500px; */
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding-bottom:20px ;
    /* overflow-y:scroll; */
  }
  
  .test{
    display: block;
  }

  input{
    width: 340px;
    height: 30px;
    margin-bottom: 15px;
    margin-top: 3px;
    border-radius: 10px;
    align-self: center;
    padding-left:10px ;
  }
  label{
    margin-left: 70px;
    font-size: 1.2rem;
    font-weight: 200;
  }
  
  button{
    width: 140px;
    height: 50px;
    margin-top: 30px;
    /* background-color: ; */
    align-self: center;
    border-radius: 15px;
    font-weight: 200;
    font-size: 1.15rem;
    border: 1px solid rgb(44, 235, 44);
  }
  button:hover{
    color: white;
    background-color: rgb(44, 235, 44);
    transform: translateY(-5px);
    font-size: 1.3rem;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  textarea{
    width: 340px;
    align-self: center;
    height: 100px;
    border-radius:10px ;
    padding:10px;
  }
  
  p{
    align-self: center;
    font-size: 2rem;
    font-weight: 5px;
  }
  
  .new{

    height: 60px;
    width: 200px;
    border: 1px solid black;
    font-size: 1.3rem;
    font-weight: 200;
  }
  .new:hover{
    transform: translateY(-7px);
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s;
    background-color: rgba(106, 106, 245, 0.863);
  }
  
nav > div{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 50px;
    padding: 30px;
    margin-left: auto;
  }
nav > div > a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.1rem;
    color: #333333;
    width: 70px;
    border-radius: 4px;
    height: 40px;
  }
nav > div > a:hover {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
  }
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px
  }
.Exit:hover{
    background-color: rgba(240, 5, 5, 0.897)
  }
.hidden{
    display: none;
  }
  

.rendezvous{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    column-gap: 60px;
}

.button_and_show_sec {
  display: flex;
  flex-direction: column;
  /* background-color: green; */
  width: 100%;
  height: 100%;
}

.button_sec {
  display: flex;
  justify-content: space-between;
  /* background-color: green; */
  height: 10%;
  margin-bottom: 20px;
  margin-right: 20px;
}

.show_sec {
  width: 100%;
  height: 100%;
  /* background-color: blue; */
  /* border: solid 4px green; */
}

.main {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  /* background-color: red; */
  height: 100%;
}
  /* tables */
.table_line {
  background-color: white;
  border: solid 4px white ;
  display: flex;
  flex-direction: row;
}
.table_entry {
  text-align: center;
  background-color: rgb(179, 179, 179);
  /* border: solid 4px green; */
}

.sec_button_name {
  display: flex;
  font-size: larger;
  text-align: center;
  justify-content: center;
  padding-top:10px;
  margin-left: 13px;
  height: 100%;
  /* border: solid 5px red; */
  align-items: center;
}