*{
    font-size: 1.05rem;
    font-family: 'Times New Roman', Times, serif;
}
form{
    width: 400px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 15px;
    /* align-items: center; */
    justify-content: center;
    padding:  20px 0px ;
    margin-bottom: 20px;
}

input{
    width: 310px;
    height: 28px;
    margin-bottom: 15px;
    margin-top: 3px;
    border-radius: 10px;
    align-self: center;
}
label{
    margin-left: 25px;
    font-size: 1.2rem;
    font-weight: 8px;
}

button{
    width: 140px;
    height: 50px;
    margin-top: 30px;
    /* background-color: ; */
    align-self: center;
    border-radius: 15px;
    font-weight: 10px;
    font-size: 1.15rem;
    border: 1px solid rgb(44, 235, 44);
}
button:hover{
    color: white;
    background-color: rgb(44, 235, 44);
    transform: translateY(-5px);
    font-size: 1.3rem;
    cursor: pointer;
    transition: all 0.3s;
}

textarea{
    width: 310px;
    align-self: center;
    height: 100px;
    border-radius:10px ;
}

p{
    align-self: center;
    font-size: 2rem;
    font-weight: 5px;
}